[submodule "vendor/interface-reflector"]
	path = vendor/interface-reflector
	url = git@hipeland.org:interface-reflector
[submodule "vendor/petrify"]
	path = vendor/petrify
	url = git://github.com/caolan/petrify.git
