* {
  margin: 0;
  padding: 0;
}
body {
  background: #f0f0f0;
  color: #252525;
  font-size: 16px;
  line-height: 24px;
  /*font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;*/
}
li {
  margin-left: 15px;
}
ul {
  padding-bottom: 1em;
}
a {
  background: #e0e0e0;
  color: inherit;
  padding: 0.13em 0.23em;
  text-decoration: inherit;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
a:hover {
  background: #d0d0d0;
}
/* for 'none' style, default daring fireball output */
pre {
  padding-bottom: 1em;
}
#nav {
  border-right: solid #ccc 1px;
  font-weight: bold;
  float: left;
  list-style-type: none;
  margin: 55px 30px 0 50px;
  padding: 0 12px 0 0;
  width: 120px;
}
#nav li {
  margin: 0 0 1em 0;
}
#nav ul {
  list-style-type: none;
  padding: 0;
}
#nav ul li {
  font-weight: normal;
  line-height: 1em;
  margin: 0;
  text-align: right;
}
#nav ul li .selected {
  background-color: #ddd;
  padding: 0 0.23em;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#nav a {
  color: #300;
  text-decoration: none;
  padding-right: 2.5px;
}
#nav a:visited {
  color: #411;
}
#nav .h {
  color: #333;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 20px;
  padding-right: 2px;
  text-align: right;
  text-transform: uppercase;
}
.container {
  float: left;
  margin: 50px 0 0 0;
  width: 550px;
}
.container h1 {
  font-size: 40px;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 40px;
  margin: 0 0 0 0;
}
.container h2 { margin: 0 0 10px 0; }
.container h3 { margin: 0 0 10px 0; }
.container h4 { margin: 0 0 10px 0; }
.container p {
  line-height: 1.12em;
  padding: 0.5em 0 1.0em 0;
}
div.sidebar {
  background-color: #eaeaea; /* from eee, too light */
  border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #cacaca;
  color: #363636;
  float: right;
  font-size: 0.85em;
  line-height: 1.5em;
  margin: 1em 0 1em 1em;
  padding: 5px 5px 0 5px;
  width: 200px;
}
/* adapted from github for our github theme-esque */
.githubby pre {
  background-color: #eaeaea; /* from eee, too light */
  border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #cacaca;
  color: #363636;
  font-size: 12px;
  line-height: 1.5em;
  margin: 1em 0;
  padding: 5px;
}
.githubby pre code {
  font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
/* we don't use any of the "code" styles from gihub, redundant w/ above */

/* you can set/override syntax highlighter styles here */
.syntaxhighlighter.nogutter table {
  padding: 0.3em 0.45em 0.45em !important;
}
.syntaxhighlighter {
  margin-top: 0 !important;
}